
.cart_badge {
  position: absolute;
  top: -12px;
  right: -6px;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}




.wishlist_badge {
  position: absolute;
  top: -16px;
  right: -9px;
  background: greenyellow;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 0.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}